body {
    background: radial-gradient(329px at 3.1% 9.3%, rgb(251, 204, 235) 28.1%, rgba(221, 221, 221, 0.15) 700%);
    font-family: "Bellota", serif;
    font-style: normal;
}

.container {
    background: #f3dfe3;
    max-width: 800px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    padding: 15px 20px;

}

.search-city {
    margin: 15px;
}

.search-input::placeholder {
    color: #ff467e;
}

.search-input {
    background-color: #fafafa;
    color: #ff467e;
    border-radius: 7px;
    width: 80%;
    padding: 10px;
    font-family: "Playwrite IN", serif;
    font-size: larger;
    border-color: #f12b6b;

}

.search-button {
    background: #fafafa;
    color: #ff467e;
    padding: 10px;
    border-radius: 7px;
    margin-left: 5px;
    font-family: "Playwrite IN", serif;
    font-size: larger;
    border-color: #f12b6b;
}

header {
    border-bottom: 1px solid #e9b2bc;
    border-width: 2px;
    padding: 0 0 20px 0;
    margin-bottom: 40px;
}

main {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.humidity-wind {
    color: #f12b6b;
    font-weight: bolder;
}

h1 {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
}

.today-temp {
    display: flex;
    margin-right: 50px;
}

.girl {
    max-width: 30%;
    display: flex;
    text-align: center;
}

.icon {
    font-size: 35px;
    margin-top: 12px;
    margin-right: 3px;
    width: 80px;
    height: 80px;
}

.degree {
    font-size: 105px;
    font-weight: bold;
    color: #f12b6b;
}

.unit {
    font-size: 35px;
    margin-top: 20px;
    color: #fd94b4;
}

.forecast {
    display: flex;
    justify-content: space-around;
}

.day {
    text-align: center;
    line-height: 20px;
    color: #fd94b4;
    font-size: 18px;
}

.icon-forecast {
    font-size: 38px;
    text-align: center;
    margin: 15px 10px 20px;
}

.temp {
    text-align: center;
    display: flex;
    justify-content: center;
}

.temp-high {
    color: #f12b6b;
    font-weight: bolder;
}

.temp-low {
    padding: 0 10px;
}

footer {
    border-top: 1px solid #e9b2bc;
    border-width: 2px;
    padding: 20px 0 0 0;
    margin-top: 20px;
    text-align: center;
}

a {
    color: #f12b6b;
}